<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>PostGram</title>
</head>

<body>
    <div class="w-full bg-zinc-900 h-screen text-white p-10">
        <h1 class="text-3xl "> <span class="text-light"> Hello, </span>
            <%= user.username%> 👋
        </h1>
        <h5 class="mb-5 text-xl">
            You can create posts

        </h5>
        <form action="">
            <textarea class="resize-none bg-transparent border-2 border-zinc-800 rounded-md" name="" id=""></textarea>
        </form>

    </div>
</body>

</html>